.App {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.visual-area {
  display: flex;
  flex-direction: column;

  align-self: stretch;
  align-items: center;
  justify-content: center;
  flex: 10;
}
.filter_area {
  flex: 2;
  align-self: stretch;
  display: flex;

  padding: 20px;
}

.x-axis {
  font-size: 20px;
  transform: translateY(95%);
}

.bg {
  background-color: white;
  width: 100%;
  height: 100%;
}

.tables {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;

  flex: 1;
}
.table {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.swap-axis {
  width: 150px;
  height: 20px;
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}
